*~
*.o
GPATH
GRTAGS
GTAGS
aux/*
autom4te.cache/*
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
stamp-h1
debian/autoreconf.*
debian/.debhelper/*
debian/debhelper-build-stamp
debian/mcjoin/*
debian/mcjoin.debhelper.log
debian/mcjoin.substvars
debian/files
