Source: mcjoin
Section: net
Priority: optional
Maintainer: Joachim Nilsson <troglobit@gmail.com>
Homepage: https://github.com/troglobit/mcjoin
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.0
Vcs-Git: https://github.com/troglobit/mcjoin.git
Vcs-Browser: https://github.com/troglobit/mcjoin/commits/

Package: mcjoin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tool for verifying multicast connectivity
 mcjoin can be used to join IPv4/IPv6 multicast groups, display progress
 as multicast packets are received, and also send multicast packets on
 select groups.
 .
 mcjoin can help verify intended IGMP/MLD snooping functionality in
 layer-2 bridges/switches, as well as test forwarding of multicast in
 static or dynamic multicast routing setups.
